<li>
  <a href="{{ fields.view_taxonomy_term.content|striptags|trim }}" class="d-flex flex-wrap justify-content-between">
    <span>
      <i class="icofont-double-left"></i>{{ fields.name.content }}</span>
    <span>{{ fields.field_articel_test.content }}</span>
  </a>
</li>
