<div class="col-md-3 text-center pb100">
  <a href="{{ fields.view_node.content|striptags|trim }}">
    <div class="service image ">
      <img src="{{ fields.field_icon.content|striptags|trim }}" class="servicr-page-img">
    </div>
    <div>
      {{ fields.title.content }}
    </div>
  </a>
</div>
